# /usr/lib/systemd/system/usb-gadget.service

[Unit]
Description=RPi0 USB Gadget
#After=systemd-modules-load.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/usb-gadget-init start
ExecStop=/usr/bin/usb-gadget-init stop

[Install]
WantedBy=sysinit.target
