# /usr/lib/systemd/system/usb-gadget.service

[Unit]
Description=RPi0 USB Gadget
After=systemd-modules-load.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/sbin/usb-gadget-init

[Install]
WantedBy=sysinit.target
